dataset/latex2image/arXiv/*
dataset/latex2image/output*
dataset/latex2image/latex2image
dataset/latex2image/install-tl-*
ocr/donut-transformer/base*
ocr/donut-transformer/result*
*.png
*.log
*.gz
*.out

